.explore {
  background-color: $color-black;
}

.explore__container {
  display: flex;
  padding: 75px 0 71px 0px;
  max-width: 1440px;

  h2 {
    max-width: 660px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $color-white;
    border-bottom: 3px solid $color-red;
    padding-bottom: 25px;
  }

  .explore__description {
    padding: 76px 65px 0 0;
    max-width: 655px;
  }

  p {
    padding-bottom: 26px;
    color: $color-white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;

    span {
      color: #caaa7d;
    }
  }
}

.image__restored {
   padding: 15px 0 0 0;
  img {
    max-width: 728px;
  }
  
}
@media (max-width: 1500px) {
  .explore__container {
    margin: 0 20px;
  }

  .explore__description {
    padding: 20px 65px 0 0;
    margin-top: 100px;
    max-width: 655px;
    display: inline;
    p {
      padding: 0px 40px 10px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 38px;
      color: $color-white;
    }
  }
  .explore__content {
    h2 {
      max-width: 360px;
      padding: 60px 0 20px 0;
      margin-bottom: 59px;
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 38px;
      line-height: 75px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: $color-white;
    }
  }

}
@media (max-width: 1024px) {
  .explore__container {
    margin: 0 20px;
    display: block;
    padding: 0 0 61px 0;
  }

  .explore__content {
    display: inline;
    h2 {
      max-width: 100%;
      padding: 60px 0 20px 0;
      margin-bottom: 59px;
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      line-height: 75px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: $color-white;
    }
    .explore__description {
      padding: 36px 65px 0 0;
      margin-top: 100px;
      max-width: 655px;
      display: inline;
      p {
        padding: 0px 0 0 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 38px;
        color: $color-white;
      }
      p:nth-child(3) {
        display: none;
      }
    }
  }

  .image__restored {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .explore__container {
     margin: 0 20px;
    padding: 0 0 38px 0;
  }
  .explore__content {
    display: inline;
    h2 {
      padding: 40px 0 20px 0;
      margin: 0 0 0 0;
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: $color-white;
    }
  }
  .explore__description {
    padding: 36px 65px 0 0;
    margin-top: 100px;
    max-width: 655px;
    display: inline;
    p {
      display: none;
    }
  }
  .image__restored {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 22px;
    img {
     width: 728px;
    }
  }
 
}
@media (max-width: 740px) {
  .image__restored {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 25px;
    img {
      max-width: 400px;
    }
  }
}
@media (max-width: 420px) {
  .explore__container {
    padding: 0 0 39px 0;
  }
  .explore__content {
    display: inline;
    h2 {
      padding: 41px 0 19px 0;
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 5px;
      text-transform: uppercase;

      color: $color-white;
    }
  }
  .explore__description {
    padding: 36px 65px 0 0;
    margin-top: 100px;
    max-width: 655px;
    display: inline;
  }
  .image__restored {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 22px;
    img {
      max-width: 380px;
    }
  }
}

@media (max-width: 400px) {
  .image__restored {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 22px;
    img {
      max-width: 280px;
    }
  }
}
